@charset "UTF-8";

/*    *** IMPORTANTE ***
Tudo que em HTML é id = em CSS é #   (só pode um elemento por documento/página)
Tudo que em HTML é class = em CSS é . (pode vários elementos)
*/    


body {
    background-color: #B4F5BF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #18B53F;
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 177, 118);
    color: white;
}

h2 {
    color: #073613;
}

.basico {
    color: #073613;
    font-weight: bolder;
}

.intermediario {
    color: #727208;
}

.avancado {
    color: #ff0202;
}

.destaque {
    background-color: rgba(250, 219, 41, 0.459);    
}
